.section {
  background-color: #fff5f6;
}
.about {
  padding-bottom: 29px;
  background-image: url(/src/images/mobile/how-its-made/background-image-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 5px 560px;
  &__tittle {
    margin: auto;
    color: $color-primary;
    font-family: $font-primary;
    width: 250px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 32px;
    &--secundary {
      color: $color-secondary;
      font-family: $font-primary;
      width: 250px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}
.about__image-cow {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.about__list--relative {
  position: relative;
  z-index: 0;
  top: 213px;
}
.about__list {
  margin-left: 15px;
}
.about__item {
  width: 220px;
  font-size: 12px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  &--grey {
    color: #907e82;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-top: 27px;
  }
}
.about__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: $color-primary;
  margin-bottom: 17px;
}

.about__svg {
  margin-left: 13px;
}
.adventages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adventage__list {
  margin-left: 15px;
  & li:not(:last-child) {
    margin-right: 30px;
  }
}

.adventage__number {
  color: $color-primary;
  width: 120px;
  top: 3582px;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.adventage__paragraph {
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 27px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .about {
    background-image: none;
  }
  .about__button {
    margin: 0px;
    font-size: 16px;
  }
  .adventage__list {
    display: flex;
  }
  .about__tittle {
    width: 600px;
    font-size: 48px;
    &--secundary {
      font-size: 26px;
    }
  }
  .about__background {
    display: none;
  }
  .adventages {
    padding-top: 0;
  }
  .adventage__paragraph {
    width: 180px;
  }
  .about__list {
    margin-top: 36px;
  }
  .about__item {
    margin-left: 32px;
    width: 344px;
    font-size: 14px;
    margin-bottom: 62px;
    &--grey {
      font-size: 14px;
    }
  }
  .adventage__number {
    font-size: 48px;
    width: 147px;
  }
  .about__container {
    display: flex;
  }
  .about__image {
    width: 336px;
  }
}
@media (min-width: 1200px) {
  .about {
    background-position: 0;
    background-image: url(/src/images/desktop/how-its-made/background-image-desktop.png);
  }
  .about__button {
    margin: 0px;
    font-size: 16px;
  }
  .adventage__list {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 0px;
    position: relative;
    right: 50px;
  }
  .about__list {
    margin-top: 56px;
  }
  .about__container {
    display: flex;
    justify-content: space-between;
  }
  .about__image {
    width: 560px;
  }
  .about__item {
    margin-left: 32px;
    width: 538px;
    font-size: 16px;
    margin-bottom: 45px;
    &--grey {
      width: 466px;
      font-size: 16px;
    }
  }
  .about__tittle {
    width: 600px;
    font-size: 58px;
    &--secundary {
      font-size: 30px;
    }
  }
  .about__background {
    display: unset;
  }
  .adventages {
    padding-top: 0;
  }
  .adventage__list li:not(:last-child) {
    margin-right: -32px;
  }
  .adventage__number {
    font-size: 58px;
    width: 180px;
    margin: 0px;
  }
  .adventage__paragraph {
    width: 300px;
    display: flex;
    font-size: 16px;
    text-align: justify;
    margin-top: 18px;
  }
}
