.section-about {
  background-color: #fff5f6;
  padding-bottom: 0px;
  background-image: url(/src/images/mobile/how-its-made/background-image-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 580px;
}
.about {
padding-bottom: 29px;
&__tittle{
    margin: auto;
    color: $color-primary;
    font-family: $font-primary;
    width: 280px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 32px;
    &--secundary {
      color: $color-secondary;
      font-family: $font-primary;
      width: 250px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}
.about__cow{
display: flex;
margin-left: auto;
margin-right: auto;
width: 280px;
transition: 3s;
&:hover{
  transform: rotate(40deg);
  transition-duration: 3s;
  }
}

.about__list--relative {
  position: relative;
  z-index: 0;
  top: 213px;
}
.about__list {

}
.about__item {
  width: 320px;
  font-size: 12px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  &--grey {
    color: #907e82;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-top: 27px;
    transition: 1s;
    line-height: 1.58;
  }
}

.about__item--grey:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.about__paragraph{
width: 320px;
height: 79px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 162%;
transition: 1s;
margin-bottom: 40px;
}

.about__paragraph:hover{
  transform: scale(1.2);
  transition-duration: 1s;
}

.about__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: $color-primary;
  margin-bottom: 17px;
}

.about__button:hover{
background-color: #ecebeb;
transform: scale(1.2);
}


@media screen and (min-width: 480px) and (max-width: 767px) {
  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .section-about {
    background-image: url(/src/images/desktop/how-its-made/background-image-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 140px;
  }
  .about__button {
    margin: 0px;
    font-size: 16px;
  }

  .about__tittle {
    width: 600px;
    font-size: 48px;
    &--secundary {
      font-size: 26px;
    }
  }

  .about__background {
    display: none;
  }
  
  .about__list {
    margin-top: 36px;
  }
  .about__item {
    margin-left: 32px;
    width: 344px;
    font-size: 14px;
    margin-bottom: 62px;
    &--grey {
      font-size: 14px;
    }
  }
  
  .about__container {
    display: flex;
  }
  .about__image {
    width: 336px;
  }
  .about__button{
    margin-left: 25px;
  }
}

@media (min-width: 1200px) {
  .section-about {
    background-color: #fff5f6;
    background-position: 0px 50px ;
    background-image: url(/src/images/desktop/how-its-made/background-image-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .about__button {
    margin-left: 25px;
    font-size: 16px;
  }
  
  .about__list {
    margin-top: 56px;
  }
  .about__container {
    display: flex;
    justify-content: space-between;
  }
  .about__image {
    width: 560px;
  }
  .about__item {
    margin-left: 32px;
    width: 538px;
    font-size: 16px;
    margin-bottom: 45px;
    &--grey {
      width: 463px;
      height: 155px;
      font-size: 14px;
      line-height: 27px;
      letter-spacing: 0.04em;
    }
  }

  .about__paragraph{
    width: 463px;
    font-size: 16px;
  }
  .about__tittle {
    width: 1100px;
    font-size: 58px;
    &--secundary {
      font-size: 30px;
    }
  }
  .about__tittle:hover{
    animation-name: texto-estirado;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  

  .about__background {
    display: unset;
  }

}

@keyframes texto-estirado{
    0% { letter-spacing:0.7em;}
    100%{ letter-spacing: 0.1em;}
    }