body {
  font-family: 'DM Sans';
  font-size: 16px;
  color: #000;
  background-color: $color-primary-text;
  letter-spacing: 0.04em;
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.links {
  text-decoration: none;
  &:hover,
  &:focus {
    color: $color-primary;
  }
}
.buttons {
  border: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
