.header {
  background-color: rgba(255, 184, 202, 1);
  overflow: hidden;
}
.header__container {
  padding: 8px 20px;
  height: 534px;
}
.header-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 148px;
}
.header-index__title {
  margin-right: 55px;
}
.header-nav__list {
  display: flex;
}
.header-nav__item {
  margin-right: 35px;
}
.header-nav__item:nth-child(5) {
  margin-right: 120px;
}
.header-nav__link {
  font-family: 'DM Sans';
  font-weight: 700;
  line-height: 21px;
  color: $color-primary-text;
}
.header-nav__link--active {
  color: $color-primary;
}
.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-index__button {
  display: none;
  width: auto;
  height: 44px;
  background: $color-primary-text;
  border-radius: 22px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: $color-primary;
  padding: 0 35px 0 35px;
  &:hover {
    background-color: $color-primary;
    color: $color-primary-text;
  }
  &:hover .header-index__button-svg {
    stroke: $color-primary-text;
    fill: $color-primary;
  }
}
.header-index__button-svg {
  stroke: $color-primary;
  fill: $color-primary-text;
  margin-left: 12px;
}
@media screen and (max-width: 300px) {
  .header-index__title {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 27px 32px;
    height: 420px;
  }
  .header-index {
    margin-bottom: 18px;
    &__title {
      margin-right: 0;
    }
    &__button {
      display: unset;
    }
  }
}
@media screen and (min-width: 1200px) {
  .header-index {
    margin-bottom: 62.29px;
  }
  .header-index__title {
    margin-right: 124px;
  }
  .header__container {
    padding: 60px 15px;
    height: 698px;
  }
}
@media screen and (max-width: 1199px) {
  .header-nav {
    display: none;
  }
}
@import './bio-eco';
@import './elements';
@import './menu-toggle';
@import './mobile-menu';
@import './number-sales';
@import './redirect';
