@import './utils/variables';
@import './common-style';
@import './header/header';
@import './products/products';
@import './how-its-made/how-its-made';
@import './adventages/adventages';
@import './gallery-reviews/gallery';
@import './gallery-reviews/reviews';
@import './contacts/contacts';
@import './footer/footer';
