.footer {
  background: #fff5f6;
}
.adress {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.adress-box {
  margin-bottom: 40px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__description {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-secondary;
  }
  &__description--passion {
    font-size: 34px;
    line-height: 39px;
    color: $color-primary;
  }
  &__span::after {
    content: '';
    display: block;
  }
}
.adress-information {
  width: 100%;
  margin-bottom: 40px;
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28.24px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  &__link {
    display: flex;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    fill: $color-secondary;
    &:hover,
    &:focus {
      fill: $color-primary;
    }
  }
}
.footer-contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__span {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
  }
  &__link {
    color: #d41443;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
  }
}
.footer-box-text {
  border-top: 1px solid #e1e1e1;
  padding: 16px 60px 10px;
  &__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: #907e82;
  }
}
@media screen and (min-width: 768px) {
  .adress {
    flex-wrap: nowrap;
  }
  .adress-information {
    margin-bottom: 0;
  }
  .adress-box__description {
    font-size: 26px;
    line-height: 30px;
    &--passion {
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.06em;
    }
  }
  .footer-box-text__description {
    line-height: 186%;
    letter-spacing: 0.02em;
  }
  .footer-contact__span,
  .footer-contact__link {
    font-size: 14px;
    line-height: 26.04px;
  }
}
@media screen and (min-width: 1200px) {
  .adress-box__description {
    font-size: 30px;
    line-height: 34px;
    &--passion {
      font-size: 58px;
      line-height: 66px;
    }
  }
  .footer-contact__span,
  .footer-contact__link {
    font-size: 16px;
    line-height: 30px;
  }
}
