$color-primary: #d41443;
$color-secondary: #ffa5ba;
$color-primary-text: #fff;
$color-secondary-text: #757575;
$font-primary: 'Titan One';
$background-button-active: #ecebeb;
@keyframes texto-estirado {
  0% {
    letter-spacing: 1em;
  }
  100% {
    letter-spacing: 0.7em;
  }
}
