.section-contacts {
  background-color: #fff5f6;
  padding-bottom: 0;
}

.section-contacts__container {
  margin: auto;
  padding: 0 50px;
  position: relative;
  top: -155px;
}

.section-contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 54px;
}

.section-contacts__item {
  background-color: #fff;
  padding: 43px 20px;
  border-radius: 24px;
  flex-basis: calc((100% - 30px) / 1);
  max-width: 368px;
  &:hover {
    box-shadow: 0 8px 30px rgb(144 35 62 / 63%);
  }
}
.section-contacts__locale {
  background-color: #f0d1a5;
  font-weight: 500;
  font-size: 12px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
}

.section-contacts__locale.food {
  background-color: #c2e297;
  width: 130px;
}

.section-contacts__city {
  font-size: 12px;
  color: #000000;
  margin-bottom: 10px;
}

.section-contacts__text {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #907e82;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.section-contacts__days {
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

.section-contacts__time {
  letter-spacing: -spacing;
  line-height: 186%;
  font-size: 12px;
  font-weight: 500;
  color: #ffa5ba;
  margin-bottom: 10px;
}
.section-contacts__footer {
  border-top: 1px solid #e1e1e1;
  padding-top: 32px;
  margin-top: 32px;
}
.section-contacts__link:not(:last-child) {
  margin-bottom: 10px;
}
.section-contacts__link {
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  color: #907e82;
}

.section-contacts__list-buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section-contacts__buttons {
  line-height: 21px;
  font-size: 16px;
  font-weight: 700;
  width: 170px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
}

.section-contacts__buttons.btn1 {
  color: $color-primary-text;
  background-color: $color-primary;
  &:hover,
  &:focus {
    transform: translateY(-3px);
  }
}
.section-contacts__buttons.btn2 {
  color: $color-primary;
  background-color: #fff;
  &:hover,
  &:focus {
    background-color: $background-button-active;
    transform: translateY(-3px);
  }
}
.section-contacts__button-svg {
  stroke: $color-primary-text;
  fill: $color-primary;
  margin-left: 12px;
}
.section-contacts__button-svg--two {
  stroke: $color-primary;
  fill: $color-primary-text;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .section-contacts__list {
    flex-direction: row;
    gap: 20px;
  }
  .section-contacts__item {
    flex-basis: calc((100% - 20px * 2) / 3);
  }
  .section-contacts__locale {
    width: 75.1px;
    height: 29px;
    font-size: 16px;
    line-height: 29.76px;
    &.food {
      width: 138px;
    }
  }
  .section-contacts__city {
    font-size: 14px;
    line-height: 186%;
  }
  .section-contacts__text {
    font-size: 14px;
    line-height: 166%;
  }
  .section-contacts__days,
  .section-contacts__time {
    font-size: 14px;
    line-height: 186%;
  }
  .section-contacts__link {
    font-size: 14px;
    line-height: 183%;
  }
  .section-contacts__list-buttons {
    flex-direction: row;
    gap: 14.2px;
  }
}
@media screen and (min-width: 1200px) {
  .section-contacts__list {
    flex-direction: row;
    gap: 32px;
  }
  .section-contacts__item {
    flex-basis: calc((100% - 32px * 2) / 3);
  }
  .section-contacts__city {
    font-size: 16px;
  }
  .section-contacts__text {
    font-size: 16px;
    line-height: 183%;
  }
  .section-contacts__days,
  .section-contacts__time {
    font-size: 16px;
  }
  .section-contacts__link {
    font-size: 16px;
  }
  .section-contacts__list-buttons {
    flex-direction: row;
    gap: 12px;
  }
}
