<section class="section-adventage">
    <div class="adventages " id="adventage">
        <ul class="adventage__list list">
            <li class="adventage__item--up">
                <svg width="33" height="50" class="adventage__svg">
                    <use href="/src/images/svg.defs.svg#icon-Group1"></use>
                </svg>
                <h2 class="adventage__number">721</h2>
                <p class="adventage__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="adventage__item--medium">
                <svg width="50" height="50" class="adventage__svg">
                    <use href="/src/images/svg.defs.svg#icon-Vector-vaso-helado"></use>
                </svg>
                <h2 class="adventage__number">16 kg</h2>
                <p class="adventage__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="adventage__item--down">
                <svg width="50" height="50" class="adventage__svg">
                    <use href="/src/images/svg.defs.svg#icon-Group"></use>
                </svg>
                <h2 class="adventage__number">84</h2>
                <p class="adventage__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</div>
</section>
