<footer class="footer">
  <div class="adress container">
    <div class="adress-box">
      <ul class="adress-box__list list">
        <li class="adress-box__item adress-box__item--homemade">
          <p class="adress-box__description">
            homemade ice cream <span class="adress-box__span">made</span>
          </p>
        </li>
        <li class="adress-box__item">
          <p class="adress-box__description adress-box__description--passion">
            <span class="adress-box__letter">w</span>
            <span class="adress-box__letter">i</span>
            <span class="adress-box__letter">t</span>
            <span class="adress-box__letter">h</span>
            <span class="adress-box__letter">p</span>
            <span class="adress-box__letter">a</span>
            <span class="adress-box__letter">s</span>
            <span class="adress-box__letter">s</span>
            <span class="adress-box__letter">i</span>
            <span class="adress-box__letter">o</span>
            <span class="adress-box__letter">n</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="adress-information">
      <ul class="adress-information__list list">
        <li class="adress-information__item">
          <a
            class="adress-information__link links"
            href="#"
            aria-label="icon github"
            ><svg class="header-index__svg" width="34" height="34">
              <use href="/src/images/svg.defs.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="adress-information__item">
          <a
            class="adress-information__link links"
            href="#"
            aria-label="icon telegram"
            ><svg class="adress-information__svg" width="34" height="34">
              <use href="./images/svg.defs.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="adress-information__item">
          <a
            class="adress-information__link links"
            href="#"
            aria-label="icon facebbok"
            ><svg class="adress-information__svg" width="34" height="34">
              <use href="./images/svg.defs.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-contact">
        <span class="footer-contact__span">Feel free to contact</span
        ><a
          href="tel:+61(0)383766284"
          class="footer-contact__link footer-contact__link links"
          >+61 (0) 383 766 284</a
        >
      </div>
    </div>
  </div>
  <div class="footer-box-text">
    <p class="footer-box-text__description">
      © 2022 - IceCream. All Rights <br />
      Reserved.
    </p>
  </div>
</footer>
