<section class="gallery-section">
  <h2 hidden>Ice-cream's gallery</h2>
  <div class="container gallery-cont">
    <div class="gallery-cont__wrapper">
      <div class="gallery-cont__first">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/ice-green__desktop.png 1x,
              ./images/desktop/gallery-reviews/ice-green__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/ice-green__tablet.png 1x,
              ./images/tablet/gallery-reviews/ice-green__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/ice-green__mobile.png 1x,
              ./images/mobile/gallery-reviews/ice-green__mobile.png 2x
            "
            class="gallery-cont__img1"
            src="./images/mobile/gallery-reviews/ice-green__mobile.png"
            alt="ice-green"
          />
        </picture>
      </div>
      <div class="gallery-cont__second">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/cone__desktop.png 1x,
              ./images/desktop/gallery-reviews/cone__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/cone__tablet.png 1x,
              ./images/tablet/gallery-reviews/cone__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/cone__mobile.png 1x,
              ./images/mobile/gallery-reviews/cone__mobile.png 2x
            "
            class="gallery-cont__img2"
            src="./images/mobile/gallery-reviews/cone__mobile.png"
            alt="ice-green"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/ice-pink__desktop.png 1x,
              ./images/desktop/gallery-reviews/ice-pink__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/ice-pink__tablet.png 1x,
              ./images/tablet/gallery-reviews/ice-pink__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/ice-pink__mobile.png 1x,
              ./images/mobile/gallery-reviews/ice-pink__mobile.png 2x
            "
            class="gallery-cont__img3"
            src="./images/mobile/gallery-reviews/ice-pink__mobile.png"
            alt="ice-green"
          />
        </picture>
      </div>
      <div class="gallery-cont__third">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/ice-blueberrie__desktop.png 1x,
              ./images/desktop/gallery-reviews/ice-blueberrie__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/ice-blueberrie__tablet.png 1x,
              ./images/tablet/gallery-reviews/ice-blueberrie__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/ice-blueberrie__mobile.png 1x,
              ./images/mobile/gallery-reviews/ice-blueberrie__mobile.png 2x
            "
            class="gallery-cont__img4"
            src="./images/mobile/gallery-reviews/ice-blueberrie__mobile.png"
            alt="ice-green"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/girl-ice__desktop.png 1x,
              ./images/desktop/gallery-reviews/girl-ice__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/girl-ice__tablet.png 1x,
              ./images/tablet/gallery-reviews/girl-ice__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/gril-ice__mobile.png 1x,
              ./images/mobile/gallery-reviews/gril-ice__mobile.png 2x
            "
            class="gallery-cont__img5"
            src="/src/images/mobile/gallery-reviews/gril-ice__mobile.png"
            alt="ice-green"
          />
        </picture>
      </div>
      <div class="gallery-cont__fourth">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/dessert__desktop.png 1x,
              ./images/desktop/gallery-reviews/dessert__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/dessert__tablet.png 1x,
              ./images/tablet/gallery-reviews/dessert__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/dessert__mobile.png 1x,
              ./images/mobile/gallery-reviews/dessert__mobile.png 2x
            "
            class="gallery-cont__img6"
            src="/src/images/mobile/gallery-reviews/dessert__mobile.png"
            alt="ice-green"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/city-ice__desktop.png 1x,
              ./images/desktop/gallery-reviews/city-ice__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/city-ice__tablet.png 1x,
              ./images/tablet/gallery-reviews/city-ice__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/city-ice__mobile.png 1x,
              ./images/mobile/gallery-reviews/city-ice__mobile.png 2x
            "
            class="gallery-cont__img7"
            src="./images/mobile/gallery-reviews/city-ice__mobile.png"
            alt="ice-green"
          />
        </picture>
      </div>
      <div class="gallery-cont__fifth">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/dog-ice__desktop.png 1x,
              ./images/desktop/gallery-reviews/dog-ice__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/dog-ice__tablet.png 1x,
              ./images/tablet/gallery-reviews/dog-ice__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/dog-ice__mobile.png 1x,
              ./images/mobile/gallery-reviews/dog-ice__mobile.png 2x
            "
            class="gallery-cont__img8"
            src="/src/images/mobile/gallery-reviews/dog-ice__mobile.png"
            alt="ice-green"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/milkshake-brown__desktop.png 1x,
              ./images/desktop/gallery-reviews/milkshake-brown__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/milkshake-brown__tablet.png 1x,
              ./images/tablet/gallery-reviews/milkshake-brown__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/milkshake-brown__mobile.png 1x,
              ./images/mobile/gallery-reviews/milkshake-brown__mobile.png 2x
            "
            class="gallery-cont__img9"
            src="./images/mobile/gallery-reviews/milkshake-brown__mobile.png"
            alt="ice-green"
          />
        </picture>
      </div>
      <div class="gallery-cont__sixth">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery-reviews/donut__desktop.png 1x,
              ./images/desktop/gallery-reviews/donut__desktop.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery-reviews/donut__tablet.png 1x,
              ./images/tablet/gallery-reviews/donut__tablet.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="
              ./images/mobile/gallery-reviews/donut__mobile.png 1x,
              ./images/mobile/gallery-reviews/donut__mobile.png 2x
            "
            class="gallery-cont__img10"
            src="./images/mobile/gallery-reviews/donut__mobile.png"
            alt="ice-green"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
