<section class="section section-how-its-made">
    <div class="container">
        <div class="about">
            <h3 class="about__tittle about__tittle--secundary">tradition and love</h3>
            <h1 class="about__tittle">how it’s made?</h1>
            <div class="about__container">
                <picture class="abouut__picture">
                    <source
                      srcset="
                        ./images/desktop/how-its-made/cow__desktop.png 1x,
                        ./images/desktop/how-its-made/cow__desktop.png 2x
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/tablet/how-its-made/cow-tablet.png 1x,
                        ./images/tablet/how-its-made/cow-tablet.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      srcset="
                        ./images/mobile/how-its-made/cow__mobile.png 1x,
                        ./images/mobile/how-its-made/cow__mobile.png 2x
                      "
                      class="about__cow"
                      src="./images/mobile/how-its-made/cow__mobile.png"
                      alt="ice-cream"
                    />
                  </picture>
                <ul class="about__list list">
                    <li class="about__item">
                        <b class="about__paragraph">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</b>
                        <p class="about__item--grey">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                        </br></br> Aliquam erat volutpat. Aenean accumsan.
                        </p>
                    </li>
                    <li><button type="button" class="about__button buttons">Read more 
                            <svg width="10" height="10" class="about__svg">
                                <use href="/src/images/svg.defs.svg#icon-Vector-1"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="adventages section">
            <ul class="adventage__list list">
                <li >
                    <svg width="33" height="50" class="adventage__svg">
                        <use href="/src/images/svg.defs.svg#icon-Group1"></use>
                    </svg>
                    <h2 class="adventage__number">721</h2>
                    <p class="adventage__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li>
                    <svg width="50" height="50" class="adventage__svg">
                        <use href="/src/images/svg.defs.svg#icon-Vector-vaso-helado"></use>
                    </svg>
                    <h2 class="adventage__number">16 kg</h2>
                    <p class="adventage__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="list">
                    <svg width="50" height="50" class="adventage__svg">
                        <use href="/src/images/svg.defs.svg#icon-Group"></use>
                    </svg>
                    <h2 class="adventage__number">84</h2>
                    <p class="adventage__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
