<div class="backdrop is-hidden" data-modal-location>
    <div class="modal-location">
      <form class="modal-location-form">
        <div class="modal-location-form__container">
          <div class="modal-location-up">
            <button data-modal-location-close class="modal-location__exit pointer"  type="button" aria-label="button close two">
                <svg
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  class="modal-location__svg-exit"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            <p class="modal-location-up__title">We will be glad to see you</p>
          </div>
          <div class="modal-location__map">
            <iframe class="modal-location__google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.8663399464604!2d30.531895015730505!3d50.42496187947188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1suk!2sua!4v1631529237569!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
      </form>
    </div>
  </div>
  