<section class="section" id="natural">
  <div class="container products">
    <span class="products__span">100% Natural</span>
    <h2 class="products__title">Products</h2>
    <ul class="list products__list">
      <li>
        <div class="products__fresa products__item">
          <img
            class="products__images"
            src="./images/mobile/products/ice-cream__mobile.png"
            alt="ice cream fresa"
          />
          <h3 class="products__flavor-cream">ice cream</h3>
          <p><span class="products__separator">...</span></p>
          <p class="products__description-cream">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div>
            <button class="products__button" aria-label="buton products">
              <svg class="products__icon" width="40" height="40">
                <use href="./images/svg.defs.svg#right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li>
        <div class="products__coffee products__item">
          <img
            class="products__images"
            src="./images/mobile/products/ice-coffe__mobile.png"
            alt="ice cream coffee"
          />
          <h3 class="products__flavor-cream">ice cream</h3>
          <p><span class="products__separator">...</span></p>
          <p class="products__description-cream">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div>
            <button class="products__button" aria-label="buton products">
              <svg class="products__icon">
                <use href="./images/svg.defs.svg#right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li>
        <div class="products__milk products__item">
          <img
            class="products__images"
            src="./images/mobile/products/milkshake__mobile.png"
            alt="ice cream milk"
          />
          <h3 class="products__flavor-cream">milkshakes</h3>
          <p><span class="products__separator">...</span></p>
          <p class="products__description-cream">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div>
            <button class="products__button" aria-label="buton products">
              <svg class="products__icon">
                <use href="./images/svg.defs.svg#right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
