<section class="section section-reviews" id="reviews">
  <h2 hidden>Reviews</h2>
  <ul class="reviews list">
    <li class="reviews__picture list">
      <img
        src="/src/images/desktop/gallery-reviews/girl-one__dektop.png"
        alt="testimonial"
        width="85"
        height="85"
        class="reviews__img"
      />
    </li>
    <li class="reviews__coment">
      <div class="reviews__box">
        <svg class="reviews__svg" width="85" height="40">
          <use href="/src/images/svg.defs.svg#icon-coments-marks"></use>
        </svg>
        <p class="reviews__paragraph">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
    </li>
    <li class="reviews__points">
      <p class="reviews__point">.</p>
      <p class="reviews__point">.</p>
      <p class="reviews__point">.</p>
    </li>
    <li class="reviews__name">
      <p class="name">Emily, Los Angeles</p>
    </li>
  </ul>
  <ul class="circle list">
    <li class="circle__item">
      <svg class="circle__house-svg" width="12" height="12">
        <use href="/src/images/svg.defs.svg#icon-coments-house"></use>
      </svg>
    </li>
    <li class="circle__item">
      <div class="circle__review"></div>
    </li>
    <li class="circle__item">
      <div class="circle__review"></div>
    </li>
  </ul>
</section>
