<section class="section-reviews">
  <ul class="reviews">
    <li>
      <img
        src="/src/images/desktop/gallery-reviews/girl-one__dektop.png"
        alt="testimonial"
        width="85"
        height="85"
      />
    </li>
    <li>
      <svg class="svg-reviews" width="54" height="40">
        <use href="/src/images/svg.defs.svg#icon-coments-marks"></use>
      </svg>
      <p class="paragraph-reviews">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </li>
    <li>
      <div class="container-circle">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </li>
    <li>
      <p class="name">Emily, Los Angeles</p>
    </li>
    <li>
      <svg class="svg-reviews-house" width="30" height="25">
        <use href="/src/images/svg.defs.svg#icon-coments-house"></use>
      </svg>
    </li>
    <li>
      <div><span class="house"></span></div>
      <div><span class="circle-1"></span></div>
      <div><span class="circle-2"></span></div>
    </li>
  </ul>
</section>
