
.gallery{
  display: flex;
  align-items: center;
  width: 320px;
  height: 136px;

}

@media (min-width:768px){
  .gallery{
  width: 768px;
  height: 327px;
}
}

@media (min-width:1200px){
  .gallery{
    margin-left: auto;
    margin-right: auto;

    padding: 0;
    width: 1013px;
    height: 430px;
    position:relative;
    &__img{
      margin-right: 8px;
    }
    &__cone{
      margin-top: 40px;
    }

  }
}