.section-gallery {
  padding-top: 0;
  margin-top: -24px;
}
.gallery {
  padding: 0;
  display: flex;
  align-items: center;
  width: 320px;
  height: 136px;
  &__img {
    margin-right: 2.53px;
    &--top {
      margin-top: 10px;
    }
    &--button {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 768px) {
  .section-gallery {
    margin-top: -63px;
  }
  .gallery {
    width: 768px;
    height: 327px;
    &__img {
      margin-right: 6.07px;
      &--top {
        margin-top: 20px;
      }
      &--button {
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .section-gallery {
    margin-top: -86px;
  }
  .gallery {
    margin-left: auto;
    margin-right: auto;
    width: 1013px;
    height: 430px;
    &__img {
      &--top {
        margin-top: 30px;
      }
      &--button {
        margin-bottom: 30px;
      }
    }
  }
}
