.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 60px 0px;
  background-color: #e17992;
  z-index: 3;
  transform: translateX(192%);
  transition: transform 250ms ease-in-out;
  overflow-y: auto;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__close {
    position: absolute;
    top: 21px;
    right: 25.33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    fill: $color-primary-text;
  }
  &__close:hover,
  &__close:focus {
    fill: $color-primary;
  }
}
.is-open {
  transform: translateX(0%);
}
.mobile-menu__button {
  width: 209px;
  height: 44px;
  background: $color-primary-text;
  border-radius: 22px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: $color-primary;
  padding: 0 35px 0 35px;
  margin: 0px 20px 19px 20px;
  &:hover,
  &:focus {
    transform: translateY(-2px);
    background-color: $background-button-active;
  }
}
.mobile-menu__button-svg {
  stroke: $color-primary;
  fill: $color-primary-text;
  margin-left: 12px;
}
.mobile-nav__item {
  padding: 13px 20px;
  border-bottom: 1px solid #e18298;
  &:hover,
  &:focus {
    transform: translateY(-2px);
  }
}
.mobile-nav__link {
  color: $color-primary-text;
  &--active {
    color: $color-primary;
  }
  &:hover {
    color: $color-primary;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
